/* .btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 10px;
  width: 50px;
  color: white;
}
.internets {
  height: 26px;
  width: 26px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.internets {
  background-image: url('../../../assets/tab_internets@2x.png');
}
p {
  margin: 0px;
}
@media (min-width: 600px) {
  .btnContainer:hover {
    cursor: pointer;
  }
} */
